.cv_name h2 {
    color: #2d2d84;
    padding: 40px;
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 100px;
    font-family: cursive;


}

.cv_contact p {
    padding-left: 100px;
    font-size: 1rem;
    margin: 0;
    font-weight: 500;


}

.cv {
    width: 100%;
    margin: 0;
    padding: 0;
}

.cv_img img {
    height: 200px;
    width: 180px;
    margin-top: 40px;
    border: 4px solid black;
}

.cv_detailes {
    padding-left: 100px;
}

.cv_history {
    background: #c0c0cc;
    margin-top: 10px;
    width: 89%;
}

.cv_history h3 {
    font-size: 1.4rem;
    font-family: cursive;

}

.cv_intern h4 {
    font-size: 1.2rem;
}

.cv_company p {
    margin-top: 30px;
    margin: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
}

.cv_exam {
    padding-left: 100px;
    width: 90%;
}

table {
    width: 100%;
}

.training {
    margin-left: 100px;
    width: 82%;
    font-weight: 600;
    font-family: cursive;

}

.cv_table table {
    width: 100%;

}

.qualification {
    width: 100%;
}

.it {
    padding-left: 190px;
}

.it1 {
    padding-left: 180px;
}

.it2 {
    padding-left: 175px;
}

.it3 {
    padding-left: 195px;
}

.it4 {
    padding-left: 235px;
}

.it5 {
    padding-left: 185px;
}

.it6 {
    padding-left: 214px;
}

.it7 {
    padding-left: 229px;
}

.it8 {
    padding-left: 140px;
}

.it9 {
    padding-left: 169px;
}

.family p {
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 0;
}

.cv_company {
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 0;
}