.container-fluid.footer_container {
    margin: 0px;
    padding: 0px;
}

.footer {
    border-top: 3px solid #eee;
    background: #2a2d2f;
    color: #fff;
}

.footer.footer_fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.social-links {
    margin: 0px;
    padding: 0px;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0px 1rem;
}

.social-links li a {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}