.home_background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    top: -30px;
}

.home_background1 {
    position: absolute;
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
}
.home_background3 {
    width: 100%;
    height: 100%;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
}

.home_background2 {
    position: absolute;
    width: 100%;
     height: 100%;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
   
}
video{
    object-fit: contain;
}

.header_content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome_msg {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;

}

.primary_heading {
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    color: transparent;

    
}
.primary_heading:before{
 content: attr(data-text);
 overflow: hidden;
 animation: type 10s linear infinite;
 white-space: nowrap;
 position: absolute;
 width: 100%;
 color:  #fff;
 border-right: 2px solid white;
}

@keyframes type
{
    0%{
       width: 0;
    }
    50%{
        width: 100%;
    }
     100%{
        width: 0;
    }
}

.form-control.search_input {
    height: 40px;
    border: 1px solid green;
}

.btn.btn-success.search_btn {
    border-color: none;
    border: 0px solid transparent;

}

.home_content_container {
    margin: 5% auto;
}

.home_heading {
    color:#28a745;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}
.home_heading1 {
    color:#fff;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;padding-top: 20px;
    margin-bottom: 1.5rem;
    width: 40%;
    margin-left: 30%;
    background: #007bff;
    height: 60px;

}

.home_desc {
    color: #ea6d01;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.qoutes {
    padding: 2.5rem;
    margin: 2rem 0rem;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, .4);
    border-radius: 12px;
}

.qoute_heading {
    color: #289875;
    font-size: 1.6rem;
    font-weight: 600;
}

.qoute_desc {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
}