.sign_up_card {
    font-size: 1.6rem;
    height: 100%;
}
.card-body1{
    padding: 5%;
    color: white;
    padding-left: 40%;
    width: 70%;
    height: 100%;

}
.card-body2{
    padding: 10%;
    color: white;
    padding-left: 40%;
    width: 70%;
    height: 100%;
}
.card-body1 select{
    width: 100%;
}

.fch.form-control {
    height: 45px;
    font-size: 1.6rem;
}

.group_mg_btm {
    margin-bottom: 1.5rem;
}

.group_mg_btm .input-group-text {
    font-size: 1.6rem;
    text-align: center;
    width: 35px;
}

.btn.btn-primary.btn-block {
    font-size: 1.6rem;
    width: 40%;
    margin-left: 30%;
}

.card-title.mt-3.text-center {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}
.custom-select.select {
    height: calc(2.25rem + 18px);
    width: 40%;
    display: grid;
    margin-left: 30%;
}

.custom-select1.select {
    height: calc(2.25rem + 18px);
    display: grid;  
}
.btn.btn-inzo{
    margin-left: 4rem;
}