
.title {
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;


    width: 100%;
    height: 150px;
    color: rgb(8, 8, 8);
    font-size: 44px;
    font-weight: 700;
    padding-top: 20px;

}

.title::after {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 350px;
}

.title::before {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 650px;
}

.web-img {
    background-image: url(../images/code.jpg);
    width: 300px;
    height: 180px;
    background-size: 300px 180px;
    margin: 50px;
    margin-left: 80px;
    position: relative;
}

.row {
    margin: 50px;
}

.web-title {
    padding-top: 65px;
    color: rgba(0, 0, 0, 0.829);
    font-size: 20px;

}

.web-title1 {
    font-weight: 700;
}

.web-title1::after {
    content: "";
    width: 110px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
}

.web-title1::before {
    content: "";
    width: 110px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 530px;
}

.web-content p {
    padding-top: 15px;
    font-size: 17px;
    color: black;
}

.web-content1 {
    padding-left: 50px;
}

.web1 {
    padding-left: 200px;
    padding-right: 200px;
    background: rgb(243, 243, 243);

}

.web1 a {
    color: rgba(0, 0, 0, 0.829);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.web1 a:hover {
    color: rgb(54, 103, 146);
    text-decoration: none;
}


.web1 a::after {
    content: "";
    width: 70px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
}

.web1 a::before {
    content: "";
    width: 70px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 75px;
}

.web1 p {
    font-size: 17px;
    color: black;
    padding-top: 15px;
}

.web2 {
    background: #fff;
    padding-top: 35px;
}

.web3 {
    padding-top: 35px;
}

.web4 {
    background: #fff;
    padding-top: 35px;
}

.web5 {
    padding-top: 35px;
}

.web6 {
    background: #fff;
    padding-top: 35px;
}

.web7 {
    padding-top: 35px;
}

.web8 {
    background: #fff;
    padding-top: 35px;
}

.basic-img {
    width: 300px;
    height: 400px;
    background: #fff;
    padding: 0;
    margin: 0;
    box-shadow: grey 3px 3px 3px 3px;

}



.basic-img1 video{
    /*background-image: url(../images/code.jpg);*/
    width: 300px;
    height: 200px;
    background-size: 300px 200px;
    position: relative;
}

.icon {
    background-image: url(../images/icon.png);
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin-left: 110px;
    position: absolute;
    margin-top: 180px;
}

.para1 {
    padding: 30px;
}

.basics-title {
    color: rgba(255, 115, 0, 0.829);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.basics-para p {
    color: black;
    font-size: 17px;
    padding-top: 10px;
    font-weight: 500;
    font-family: Raleway, "Times New Roman", Times, sans-serif;


}

.asif1{
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 10px;
}

.asif1:hover {
    background: rgb(206, 203, 203);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.asif1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.basic-img3 {
    height: 450px;
    width: 300px;
    background: #fff;
    padding: 0;
    margin: 10px;
    box-shadow: grey 3px 3px 3px 3px;
    margin-left: 70px;
    margin-top: 30px;





/* btn start   */

.btn {

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin-left: 50px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    animation: moveInBottom;
    background: rgba(255, 115, 0, 0.829);
    font-family: Raleway, "Times New Roman", Times, sans-serif;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(207, 124, 14, 0.945);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: rgb(221, 120, 26);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn1 {
    margin-top: 70px;
}

/* footer start   */

