html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif !important;
}

html>body>* {
    font-family: 'Raleway', sans-serif !important;
}

.col-sm-4.vertical_middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical_middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mglr_zero {
    margin: 0px;
}

.comment_container {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comment_container_inner {
    position: relative;
    margin-bottom: 10px;
}

.user_img_container {
    width: 40px;
    height: 40px;
    float: left;
}

.toPrevent,
.toPrevent1 {
    font-size: 18px;
}

.toPrevent1 i.fa-trash {
    color: crimson;
}

.user_photo {
    width: 100%;
    border-radius: 50%;
}

.coment_area {
    width: calc(100% - 60px);
    background-color: #f2f3f5;
    border-radius: 18px;
    box-sizing: border-box;
    color: #1c1e21;
    display: inline-block;
    line-height: 16px;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
    position: relative;
    white-space: normal;
    word-break: break-word;
    margin-left: 10px;
    padding: 10px 15px;
    padding-right: 65px;
}

.user_name {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.user_comment {
    color: #333;
    position: relative;
}

.edit_delete {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.update_comment {
    width: 100%;
}

#update_form {
    display: none;
}

#update_comment {
    min-height: 50px;
}
.toPrevent1{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline;
    background: transparent;
    border: none;
    margin: 0px;
    /* padding: 0px; */
    margin-top: -4px;
}
.delete_form{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}